{% extends "_layouts/base.html" %}

{% block title %}{% block page_title %}Customer Portal{% endblock %} - Victoria Powder Coating{% endblock %}

{% block header %}
  {% if customer %}
    {% include "_partials/customer_header.html" %}
  {% else %}
    {% include "_header_public.html" %}
  {% endif %}
{% endblock %}

{% block content %}
<section class="space-y-8">
  {# Flash messages #}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% from "_macros/ui.html" import alert %}
        {% set alert_type = 'error' if category == 'error' else ('success' if category == 'success' else 'info') %}
        {% call alert(type=alert_type, dismissible=True) %}
          {{ message }}
        {% endcall %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block customer_content %}{% endblock %}
</section>
{% endblock %}

